.bar-green {
  background-color: rgb(60, 178, 62);
}

.bar-gray {
  background-color: WhiteSmoke;
  color: #004085;
}

.bar-yellow {
  background-color: rgb(255, 199, 0);
}

.bar-blue {
  background-color: rgb(0, 130, 255);
}

.progress {
  height: 40px;
}

.not-footer {
  padding: 60px;
}

.runner {
  padding-bottom: 10px;
}

.chart-row {
  margin-left: -15px;
}

@media only screen and (max-width: 600px) {
  .chart-row {
    margin-left: -40px !important;
  }
}

a.disabled {
  color: gray;
  pointer-events: none;
}

#version-updates {
  display: none;
}

#version-updates h4 {
  color: teal;
}

a span {
  padding-left: 10px;
}
