html, body {
  height: 100%;
}

.menu-bar {
  height: 25px;
}

.progress-bar {
  height: 100px;
}

.map {
  background-color: #80ced6;
}

.bg-purple {
  background-color: #9932CC;
}

.bg-gray {
  background: rgb(74, 74, 74);
}

.bg-blue {
  background: rgb(50, 101, 196);
}

.bg-red {
  background: rgb(196, 50, 53);
}
