/* 1.5.2 */
.bar-green {
  background-color: rgb(60, 178, 62);
}

.bar-gray {
  background-color: WhiteSmoke;
  color: #004085;
}

.bar-yellow {
  background-color: rgb(255, 199, 0);
}

.bar-blue {
  background-color: rgb(0, 130, 255);
}

.progress {
  height: 40px;
}

.runner {
  padding-bottom: 10px;
}

.chart-row {
  margin-left: -15px;
}

@media only screen and (max-width: 600px) {
  .chart-row {
    margin-left: -40px !important;
  }
}

a.disabled {
  color: gray;
  pointer-events: none;
}

#version-updates {
  display: none;
}

#version-updates h4 {
  color: teal;
}

a span {
  padding-left: 10px;
}

.legend-entry {
  height: 70px;
  overflow: hidden;
}

.legend-entry * {
  vertical-align: middle;
}

.legend-entry img {
  height: 100%;
  height: 100%;
  height: 100%;
  display: inline-block;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.legend-entry.disabled {
  color: gainsboro;
}

.legend-entry.disabled div.circle {
  background: gainsboro !important;
}

.legend-entry.disabled img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* msie */
}

/* Axis Buttons */
#axis button {
  background-color: #005C5C;
  color: #fff;
  border-color: #10707f;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  width: 25%;
}

#axis button.selected {
  background-color: #0C2C56;
  color: #fff;
  border-color: #10707f;
}

#axis button.selected:hover {
  color: #ffffff;
  background-color: #0C2C56;
  border-color: #10707f;
  cursor: initial;
}

#axis button:hover {
  background-color: #C4CED4;
  color: #0C2C56;
  border-color: #C4CED4;
}
